.artikelCard{
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: flex-start;
    box-shadow: 10px 4px 8px 5px rgba(0,0,0,0.17)
    ;

}

.artikelImage{
    width: 100%;
}